<ion-view>
    <ion-content class="padding">
        <div class="Post">
            <div class="contentContainer">
                <img class="postImage" ng-if="content.thumbnail != 'self'" src="{{content.thumbnail}}" alt=""/>
                <h3 class="postTitle">{{content.title}}</h3>
                <div class="content">
                    <p class="postText">{{content.selftext}}</p>
                </div>
            </div>
            <div class="comments">
                <div class="comment" ng-repeat="comment in comments">
                    <div class="commentPoster">
                        <p>{{comment.data.author}} - {{comment.data.score}}</p>
                    </div>
                    <div  id="{{comment.data.id}}" class="commentContent">
                        {{parseHTML(comment.data)}}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
