<ion-view view-title="EzReddit">
    <ion-content class="padding">
    <form ng-submit="updateReddit()">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-model="searchInput.value" type="search" placeholder="You are currently in r/all">
        </label>
    </form>
      <div class="list">
        <div class="post" ng-repeat="post in posts">
            <a ng-click="openComments(post.data.permalink)" ng-href="#/comments/">
                <div flex-md=""class="item item-thumbnail-left">
                  <img src="{{post.data.thumbnail}}" alt=""/>
                  <h3>{{post.data.title}}</h3>
                </div>
            </a>
        </div>
      </div>
    </ion-content>
</ion-view>
